---
  models_path: "./models"
  output_path: "./output"
  model_config: "v1-inference.yaml" #@param ["custom","v1-inference.yaml"]
  model_checkpoint: "custom" #@param ["custom","sd-v1-4-full-ema.ckpt","sd-v1-4.ckpt",...]
  custom_config_path: "" #@param {type:"string"}
  custom_checkpoint_path: "./models/friyo.ckpt" #@param {type:"string"} 
  precision: "full"        # fp16 full
  fps: 60
  format: "mp4"
  dry_run: "no"
  total_time: "3:44"
  default:
    angle: 0.0
    scale: 1
    translation_x: 0
    translation_y: 0
    strength_schedule: 0.65
    noise_schedule: 0.02
    contrast_schedule: 1.0
  prompts:
    #- "0:00:00.00|0.0|1.001|0.00|0.05|0.55|friyo playing piano in the beach, intricate, elegant, highly detailed, digital painting, artstation, concept art, matte, sharp focus, illustration, art by artgerm and greg rutkowski and alphonse mucha"
    - "0:00:00.00|0.0|1.001|0.00|0.05|0.85|Painting by greg rutkowski, at night a river flows from the sky in the forest and a constellation in the night sky"
    - "0:00:25.00|4.0|1.000|0.00|0.00|0.65|Electricity traveling through glass"
    - "0:00:46.30|4.0|1.000|0.05|0.01|0.65|Friyo holding brass clockwork statue, gears, pistons, robot, golem, gothic art, popping color, detailed, eerie, emotional, gothic, highly detailed, incredibly sharp focus, artstation, deviantart, artgem, insane detail, intense color, vibrant cartoon art, award-winning art, super precise detail, golden ratio, in the style of pixar and disney"
    - "0:01:07.30|0.0|1.001|0.00|0.05|0.55|friyo playing piano in the beach, intricate, elegant, highly detailed, digital painting, artstation, concept art, matte, sharp focus, illustration, art by artgerm and greg rutkowski and alphonse mucha"
    - "0:01:27.00|0.0|1.050|0.00|0.00|0.65|friyo playing guitar in a starry night surrounded by sunflowers, intricate, elegant, highly detailed, digital painting, artstation, concept art, matte, sharp focus, illustration, art by artgerm and greg rutkowski and alphonse mucha"
    - "0:01:30.00|0.0|1.010|0.00|0.00|0.65|Highly detailed closeup group portrait of friyos singing in a choir, stephen bliss, unreal engine, greg rutkowski, ilya kuvshinov, ross draws, hyung tae and frank frazetta, tom bagshaw, tom whalen, nicoletta ceccoli, mark ryden, earl norem, global illumination, god rays, detailed and intricate environment"
    - "0:01:32.40|0.0|1.010|0.00|0.00|0.65|friyo playing guitar in a starry night surrounded by sunflowers, intricate, elegant, highly detailed, digital painting, artstation, concept art, matte, sharp focus, illustration, art by artgerm and greg rutkowski and alphonse mucha"
    - "0:01:40.00|0.0|1.010|0.00|0.00|0.65|Highly detailed closeup group portrait of friyos singing in a choir, stephen bliss, unreal engine, greg rutkowski, ilya kuvshinov, ross draws, hyung tae and frank frazetta, tom bagshaw, tom whalen, nicoletta ceccoli, mark ryden, earl norem, global illumination, god rays, detailed and intricate environment"
    - "0:01:42.00|0.0|1.010|0.00|0.00|0.65|friyo playing guitar in a starry night surrounded by sunflowers, intricate, elegant, highly detailed, digital painting, artstation, concept art, matte, sharp focus, illustration, art by artgerm and greg rutkowski and alphonse mucha"
    - "0:01:51.00|0.0|1.040|0.00|0.00|0.65|friyo playing guitar in a stormy night, highly detailed, digital painting, artstation, concept art, matte, sharp focus, illustration, art by artgerm and greg rutkowski and alphonse mucha"
    - "0:02:09.00|0.0|0.900|0.03|0.04|0.65|A torso portrait of friyo working the laboratory, sci  fi character, cyberpunk suit, cinematic composition, hyper detailed, matte painting, highly detailed, greg rutkowski, cedric peyravernay, anato finnstark, artstation, 8 k"
    - "0:02:14.00|0.0|1.010|0.03|0.04|0.65|A torso portrait of friyo working the laboratory, sci  fi character, cyberpunk suit, cinematic composition, hyper detailed, matte painting, highly detailed, greg rutkowski, cedric peyravernay, anato finnstark, artstation, 8 k"
    - "0:02:20.00|0.0|1.020|0.03|0.04|0.65|A torso portrait of friyo working the laboratory, sci  fi character, cyberpunk suit, cinematic composition, hyper detailed, matte painting, highly detailed, greg rutkowski, cedric peyravernay, anato finnstark, artstation, 8 k"
    - "0:02:25.00|0.0|1.030|0.03|0.04|0.65|A torso portrait of friyo working the laboratory, sci  fi character, cyberpunk suit, cinematic composition, hyper detailed, matte painting, highly detailed, greg rutkowski, cedric peyravernay, anato finnstark, artstation, 8 k"
    - "0:02:27.00|0.0|1.100|0.03|0.04|0.65|A torso portrait of friyo working the laboratory, sci  fi character, cyberpunk suit, cinematic composition, hyper detailed, matte painting, highly detailed, greg rutkowski, cedric peyravernay, anato finnstark, artstation, 8 k"
    - "0:02:30.00|4.0|1.005|0.05|0.01|0.65|Friyo holding brass clockwork statue, gears, pistons, robot, golem, gothic art, popping color, detailed, eerie, emotional, gothic, highly detailed, incredibly sharp focus, artstation, deviantart, artgem, insane detail, intense color, vibrant cartoon art, award-winning art, super precise detail, golden ratio, in the style of pixar and disney"
    - "0:02:51.30|0.0|1.005|0.05|0.01|0.65|Friyo walking over  interstellar planets galaxy beautiful!!!!!!!!!! octane render glowing!!!!!!! rays"
    - "0:03:00.30|0.0|1.002|0.00|0.00|0.65|portrait painting of a punk catfolk bard with blue eyes and black fur playing guitar, ultra realistic, concept art, intricate details, eerie, highly detailed, photorealistic, octane render, 8 k, unreal engine. art by artgerm and greg rutkowski and charlie bowater and magali villeneuve and alphonse mucha "
    - "0:03:10.50|0.0|1.002|0.00|0.00|0.65|An fluffy cat playing an piano, synthwave, digital art, oil painting, 3 d"
    - "0:03:21.30|0.0|1.010|0.00|0.00|0.75|portrait painting of a punk catfolk bard with blue eyes and black fur playing guitar, ultra realistic, concept art, intricate details, eerie, highly detailed, photorealistic, octane render, 8 k, unreal engine. art by artgerm and greg rutkowski and charlie bowater and magali villeneuve and alphonse mucha "
    - "0:03:31.50|0.0|1.002|0.00|0.00|0.65|Vertigo, fear of heights, chrome robot - cat exploring a tall eco living towers in a barren, rocky desert, rocky mountains in background, dust swirling, diffuse lighting, strong imagery, highly detailed, illustration, highly detailed water color 8 k, cinematic"    
    - "0:03:42.00|0.0|0.990|0.00|0.00|0.65|starry night detailed sky dark"    
  deforum_args:
    W: 1024
    H: 512
    
